@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  font-family: var(--font-poppins);
}
.image1{
  min-height: 100vh;
  background-image: url('/banner_1.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover cover;
}
.image2{
  min-height: 100vh;
  background-image: url('/banner_2.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover cover;
}
.image3{
  min-height: 100vh;
  background-image: url('/banner_3.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover cover;
}
.the-best-ad{
  background: rgb(159, 107, 107, 0.3);
  border-radius: 4rem;
  width: fit-content;
  padding: 10px 30px;
  text-transform: uppercase;
  color: aliceblue;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.the-best-ad>span{
  z-index: 2;
}
.the-best-ad>div{
  position: absolute;
  background-color: #F05252;
  width: 5.4rem;
  height: 80%;
  left: 0;
  border-radius: 3rem;
  z-index: 1;
}